In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [2]:
data=pd.read_csv('diabetes.csv')

In [3]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [4]:
from sklearn.model_selection import cross_val_score,KFold,train_test_split
from sklearn.linear_model import LinearRegression,LogisticRegression

In [5]:
x=data.iloc[:,:-1].values
y=data.iloc[:,-1].values

# Classification Metrics

In [6]:
seed=7
kfold=KFold(n_splits=10,random_state=seed)
logr=LogisticRegression()
scoring='accuracy'
res=cross_val_score(logr,x,y,cv=kfold,scoring=scoring)

In [7]:
res.mean()

0.7695146958304853

In [8]:
res.std()

0.04841051924567195

In [11]:
print(('Accuracy:%.3f (%.3f)')%(res.mean(),res.std()))

Accuracy:0.770 (0.048)

# Logarithmic Loss

In [32]:
scoring='neg_log_loss'

In [34]:
res=cross_val_score(logr,x,y,cv=kfold,scoring=scoring)

In [36]:
print(("Log Loss %.3f(%.3f)")%(res.mean(),res.std()))

Log Loss -0.493(0.047)

# Roc_Auc

In [38]:
scoring="roc_auc"

In [39]:
res=cross_val_score(logr,x,y,cv=kfold,scoring=scoring)

In [41]:
print(("AUC %.3f(%.3f)")%(res.mean(),res.std()))

AUC 0.823(0.041)

# Confusion Matrix

In [43]:
from sklearn.metrics import confusion_matrix

In [56]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.33,random_state=47)

In [57]:
logr.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [58]:
pred=logr.predict(x_test)

In [59]:
confusion_matrix(y_test,pred)

array([[149,  15],
       [ 49,  41]], dtype=int64)

In [60]:
logr.score(x_train,y_train)

0.7859922178988327

# Classification Report

In [61]:
from sklearn.metrics import classification_report

In [63]:
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.75      0.91      0.82       164
           1       0.73      0.46      0.56        90

   micro avg       0.75      0.75      0.75       254
   macro avg       0.74      0.68      0.69       254
weighted avg       0.75      0.75      0.73       254

# Mean Absolute Error, Mean Squared Error, R2 Metrics

In [64]:
from sklearn.datasets import load_boston

In [65]:
boston=load_boston()

In [66]:
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [68]:
bos=pd.DataFrame(boston.data,columns=boston.feature_names)

In [69]:
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [70]:
bos['target']=boston.target

In [71]:
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [72]:
x=bos.iloc[:,:-1]
y=bos.iloc[:,-1]

In [73]:
linr=LinearRegression()

In [75]:
scoring="neg_mean_absolute_error"
res=cross_val_score(linr,x,y,cv=kfold,scoring=scoring)

In [77]:
print(("MAE: %.3f(%.3f)")%(res.mean(),res.std()))

MAE: -4.005(2.084)

In [78]:
scoring="neg_mean_squared_error"

In [79]:
res=cross_val_score(linr,x,y,cv=kfold,scoring=scoring)

In [80]:
print(("MSE: %.3f(%.3f)")%(res.mean(),res.std()))

MSE: -34.705(45.574)

In [81]:
scoring="r2"

In [82]:
res=cross_val_score(linr,x,y,cv=kfold,scoring=scoring)

In [83]:
print(("R2: %.3f(%.3f)")%(res.mean(),res.std()))

R2: 0.203(0.595)