In [12]:
import pandas as pd
import numpy as np

In [22]:
train = pd.read_excel("Res_Train.xlsx")
test = pd.read_excel("Res_Test.xlsx")

In [175]:
test.head()

,TITLE,RESTAURANT_ID,CUISINES,TIME,CITY,LOCALITY,RATING,VOTES,Source
0,CASUAL DINING,4085,"North Indian, Chinese, Mughlai, Kebab",12noon – 12midnight (Mon-Sun),Noida,Sector 18,4.3,564 votes,Test
1,QUICK BITES,12680,"South Indian, Fast Food, Pizza, North Indian",7am – 12:30AM (Mon-Sun),Mumbai,Grant Road,4.2,61 votes,Test
2,CASUAL DINING,1411,"North Indian, Seafood, Biryani, Chinese",11am – 11:30pm (Mon-Sun),Mumbai,Marine Lines,3.8,350 votes,Test
3,None,204,Biryani,"9am – 10pm (Mon, Wed, Thu, Fri, Sat, Sun), 10:...",Faridabad,NIT,3.8,1445 votes,Test
4,QUICK BITES,13453,"South Indian, Kerala",11am – 10pm (Mon-Sun),Kochi,Kaloor,3.6,23 votes,Test

In [103]:
train['Source'] = 'Train'
test['Source'] = 'Test'

In [106]:
df = pd.concat([train,test],sort = True)

In [107]:
df.head()

,CITY,COST,CUISINES,LOCALITY,RATING,RESTAURANT_ID,Source,TIME,TITLE,VOTES
0,Thane,1200.0,"Malwani, Goan, North Indian",Dombivali East,3.6,9438,Train,"11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",CASUAL DINING,49 votes
1,Chennai,1500.0,"Asian, Modern Indian, Japanese",Ramapuram,4.2,13198,Train,6pm – 11pm (Mon-Sun),"CASUAL DINING,BAR",30 votes
2,Chennai,800.0,"North Indian, Chinese, Biryani, Hyderabadi",Saligramam,3.8,10915,Train,"11am – 3:30pm, 7pm – 11pm (Mon-Sun)",CASUAL DINING,221 votes
3,Mumbai,800.0,"Tibetan, Chinese",Bandra West,4.1,6346,Train,11:30am – 1am (Mon-Sun),QUICK BITES,24 votes
4,Mumbai,300.0,Desserts,Lower Parel,3.8,15387,Train,11am – 1am (Mon-Sun),DESSERT PARLOR,165 votes

In [108]:
#city_count = df.groupby('CITY').count()
#city_count[city_count['LOCALITY'] > 3]

In [109]:
res_city=pd.read_csv("res_city.csv",names=['City',"occ"])
res_city['City']

0             City
1          Chennai
2        Bangalore
3        Hyderabad
4           Mumbai
5        New Delhi
6            Kochi
7          Gurgaon
8     Secunderabad
9            Noida
10          Mumbai
11       Ghaziabad
12           Thane
13       Faridabad
14          Bandra
15         Andheri
Name: City, dtype: object

In [110]:
!pip install fuzzywuzzy
from fuzzywuzzy import process
#import fuzzywuzzy.process.extractOne()

Requirement already satisfied: fuzzywuzzy in c:\programdata\anaconda3\lib\site-packages (0.17.0)

In [111]:
import warnings
warnings.filterwarnings("ignore")

In [112]:
names_array=[]

In [113]:
df['Location'] = df['CITY']+" "+df['LOCALITY']

In [114]:
df['Location'].fillna('Unknown',inplace=True)
wrong_names = df.Location

In [115]:
correct_names = ["Chennai","Bangalore","Hyderabad","Mumbai","New Delhi","Kochi","Gurgaon","Secunderabad","Noida","Mumbai","Ghaziabad","Thane","Faridabad","Bandra","Andheri"]

In [116]:
df.head()

,CITY,COST,CUISINES,LOCALITY,RATING,RESTAURANT_ID,Source,TIME,TITLE,VOTES,Location
0,Thane,1200.0,"Malwani, Goan, North Indian",Dombivali East,3.6,9438,Train,"11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",CASUAL DINING,49 votes,Thane Dombivali East
1,Chennai,1500.0,"Asian, Modern Indian, Japanese",Ramapuram,4.2,13198,Train,6pm – 11pm (Mon-Sun),"CASUAL DINING,BAR",30 votes,Chennai Ramapuram
2,Chennai,800.0,"North Indian, Chinese, Biryani, Hyderabadi",Saligramam,3.8,10915,Train,"11am – 3:30pm, 7pm – 11pm (Mon-Sun)",CASUAL DINING,221 votes,Chennai Saligramam
3,Mumbai,800.0,"Tibetan, Chinese",Bandra West,4.1,6346,Train,11:30am – 1am (Mon-Sun),QUICK BITES,24 votes,Mumbai Bandra West
4,Mumbai,300.0,Desserts,Lower Parel,3.8,15387,Train,11am – 1am (Mon-Sun),DESSERT PARLOR,165 votes,Mumbai Lower Parel

In [117]:

for i in wrong_names:
    x=process.extractOne(i,correct_names)
    if x[1] < 60:
        names_array.append('Unknown')
    else:
        names_array.append(x[0])

In [118]:
y=process.extractOne("Andheri Lokhandwala Andheri Lokhandwala",correct_names)
y

('Andheri', 90)

In [119]:
df['Location']=names_array

In [120]:
df['Location'].head()

0      Thane
1    Chennai
2    Chennai
3     Mumbai
4     Mumbai
Name: Location, dtype: object

In [121]:
df['Location'].value_counts()

Bangalore       2940
Chennai         2910
Mumbai          2582
Hyderabad       2496
New Delhi       1796
Kochi           1792
Gurgaon          541
Unknown          489
Secunderabad     404
Noida            319
Thane            201
Ghaziabad        134
Bandra           119
Faridabad        112
Andheri           86
Name: Location, dtype: int64

In [122]:
df.isnull().sum()

CITY              147
COST             4231
CUISINES            0
LOCALITY          128
RATING              4
RESTAURANT_ID       0
Source              0
TIME                0
TITLE               0
VOTES            1606
Location            0
dtype: int64

In [123]:
df.head()

,CITY,COST,CUISINES,LOCALITY,RATING,RESTAURANT_ID,Source,TIME,TITLE,VOTES,Location
0,Thane,1200.0,"Malwani, Goan, North Indian",Dombivali East,3.6,9438,Train,"11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",CASUAL DINING,49 votes,Thane
1,Chennai,1500.0,"Asian, Modern Indian, Japanese",Ramapuram,4.2,13198,Train,6pm – 11pm (Mon-Sun),"CASUAL DINING,BAR",30 votes,Chennai
2,Chennai,800.0,"North Indian, Chinese, Biryani, Hyderabadi",Saligramam,3.8,10915,Train,"11am – 3:30pm, 7pm – 11pm (Mon-Sun)",CASUAL DINING,221 votes,Chennai
3,Mumbai,800.0,"Tibetan, Chinese",Bandra West,4.1,6346,Train,11:30am – 1am (Mon-Sun),QUICK BITES,24 votes,Mumbai
4,Mumbai,300.0,Desserts,Lower Parel,3.8,15387,Train,11am – 1am (Mon-Sun),DESSERT PARLOR,165 votes,Mumbai

In [124]:
#df1=df.copy()
#df=df1.copy()
#df.head()

In [125]:
cuisines_list=[]
for row in df['CUISINES']:
    cuisines_list.append(list(row.split(',')))

df['CUISINES']=cuisines_list

In [126]:
cuisines_list

[['Malwani', ' Goan', ' North Indian'],
 ['Asian', ' Modern Indian', ' Japanese'],
 ['North Indian', ' Chinese', ' Biryani', ' Hyderabadi'],
 ['Tibetan', ' Chinese'],
 ['Desserts'],
 ['North Indian', ' Chinese', ' Seafood', ' Biryani'],
 ['Cafe', ' Chinese', ' Pizza', ' North Indian', ' Burger'],
 ['Bar Food'],
 ['South Indian', ' North Indian'],
 ['North Indian'],
 ['North Indian', ' Chinese', ' Fast Food', ' Biryani'],
 ['Fast Food', ' Burger', ' Beverages'],
 ['Arabian', ' Mughlai'],
 ['South Indian'],
 ['Maharashtrian'],
 ['Parsi', ' Hyderabadi'],
 ['North Indian', ' Fast Food'],
 ['North Indian', ' Hyderabadi', ' Chinese'],
 ['Chinese', ' Thai'],
 ['Bakery', ' Fast Food', ' Momos'],
 ['Continental', ' European'],
 ['North Indian', ' Rolls', ' Momos'],
 ['North Indian', ' Fast Food', ' Mughlai', ' Rolls'],
 ['Andhra', ' Chinese', ' North Indian', ' Biryani'],
 ['Cafe', ' Italian', ' Chinese'],
 ['Biryani', ' North Indian'],
 ['North Indian', ' Chinese', ' BBQ'],
 ['Italian'],
 ['Finger Food', ' North Indian', ' Continental', ' Italian'],
 ['Finger Food', ' Continental', ' Asian', ' North Indian'],
 ['South Indian', ' North Indian'],
 ['Cafe', ' Tea'],
 ['Cafe', ' Continental', ' European', ' American', ' Healthy Food'],
 ['South Indian', ' North Indian', ' Chinese'],
 ['Beverages', ' Coffee', ' Tea'],
 ['Asian', ' Indonesian', ' Korean', ' Chinese', ' Fast Food'],
 ['Arabian', ' Burger'],
 ['Cafe', ' Healthy Food'],
 ['Continental'],
 ['North Indian', ' Chinese'],
 ['North Indian', ' South Indian', ' Chinese'],
 ['North Indian', ' Chinese'],
 ['South Indian'],
 ['North Indian', ' Mughlai'],
 ['American', ' Burger', ' Fast Food'],
 ['Tibetan', ' Nepalese', ' Momos'],
 ['European', ' South Indian', ' American', ' North Indian', ' Continental'],
 ['Continental', ' North Indian', ' Chinese', ' Healthy Food'],
 ['Italian', ' Pizza', ' Beverages'],
 ['Ice Cream', ' Desserts'],
 ['North Indian', ' Continental', ' Biryani'],
 ['Cafe', ' Continental'],
 ['South Indian', ' North Indian', ' Chinese', ' Fast Food'],
 ['North Indian', ' Chinese'],
 ['Chinese', ' North Indian', ' Mexican', ' Fast Food'],
 ['Cafe'],
 ['Italian', ' Pizza'],
 ['South Indian', ' North Indian'],
 ['Kerala'],
 ['North Indian', ' South Indian', ' Fast Food', ' Chinese'],
 ['Seafood', ' South Indian'],
 ['Chinese', ' Thai', ' Seafood', ' Momos'],
 ['North Indian', ' Beverages'],
 ['South Indian'],
 ['Beverages', ' Desserts'],
 ['South Indian'],
 ['Arabian'],
 ['North Indian', ' Mughlai', ' Chinese', ' Seafood'],
 ['European', ' Healthy Food', ' Indian'],
 ['Pizza', ' Fast Food'],
 ['Mithai', ' Street Food', ' Fast Food'],
 ['North Indian'],
 ['North Indian', ' Mughlai'],
 ['Fast Food', ' Momos'],
 ['Pizza', ' Fast Food'],
 ['Desserts', ' Mithai'],
 ['Bakery', ' Desserts'],
 ['Rolls', ' North Indian', ' Mughlai'],
 ['Beverages'],
 ['Fast Food', ' Italian', ' Burger'],
 ['Kerala', ' South Indian', ' North Indian', ' Chinese'],
 ['North Indian', ' Biryani'],
 ['Bakery', ' Desserts', ' Healthy Food'],
 ['Chinese', ' Thai', ' Asian', ' Malaysian', ' Vietnamese', ' Japanese'],
 ['Asian', ' Japanese', ' Thai', ' Chinese'],
 ['North Indian', ' South Indian'],
 ['North Indian', ' Fast Food'],
 ['Arabian'],
 ['North Indian', ' Chinese'],
 ['Kerala', ' South Indian', ' North Indian'],
 ['Thai'],
 ['Chinese'],
 ['Chinese', ' North Indian', ' Mughlai', ' Fast Food'],
 ['Italian', ' Continental', ' Chinese', ' Thai', ' American', ' Arabian'],
 ['Cafe', ' Chinese', ' Italian'],
 ['Cafe', ' Healthy Food'],
 ['Fast Food', ' Mexican', ' North Indian', ' Chinese'],
 ['North Indian', ' Iranian'],
 ['Biryani', ' Kebab'],
 ['North Indian', ' Chinese'],
 ['Bakery', ' Desserts'],
 ['Juices', ' Fast Food', ' Sandwich', ' Beverages'],
 ['Burger', ' Sandwich'],
 ['Hyderabadi', ' Andhra', ' North Indian', ' Chinese', ' South Indian'],
 ['Kerala', ' South Indian'],
 ['Malwani', ' Seafood', ' Maharashtrian'],
 ['Mediterranean', ' Continental', ' Italian', ' Salad'],
 ['Fast Food', ' Continental', ' North Indian'],
 ['Bakery', ' Desserts', ' Beverages'],
 ['North Indian'],
 ['South Indian'],
 ['Gujarati', ' Rajasthani', ' North Indian'],
 ['Mexican', ' Tex-Mex', ' Fast Food'],
 ['Chinese', ' Hyderabadi', ' North Indian'],
 ['Cafe', ' Italian'],
 ['Burger', ' Fast Food', ' Roast Chicken', ' Finger Food'],
 ['North Indian', ' Chinese'],
 ['North Indian', ' Chinese'],
 ['Healthy Food', ' North Indian', ' Biryani', ' Continental', ' Desserts'],
 ['Chinese', ' North Indian', ' South Indian', ' Fast Food'],
 ['North Indian', ' South Indian'],
 ['Mithai', ' Street Food'],
 ['Bakery', ' Pizza', ' Burger', ' Ice Cream'],
 ['North Indian', ' Continental', ' Seafood', ' Chinese'],
 ['Bakery', ' Desserts'],
 ['Italian', ' Continental', ' Chinese', ' American'],
 ['Cafe'],
 ['Arabian', ' Chinese', ' North Indian'],
 ['North Indian', ' Chinese', ' Italian', ' Rajasthani', ' Fast Food'],
 ['North Indian', ' South Indian', ' Chinese', ' Continental'],
 ['Beverages', ' Desserts', ' Ice Cream'],
 ['Pizza', ' Fast Food', ' Beverages'],
 ['North Indian'],
 ['Desserts'],
 ['Thai', ' Japanese', ' Korean', ' Burmese', ' Chinese'],
 ['Chinese'],
 ['North Indian', ' South Indian', ' Chinese', ' Fast Food', ' Juices'],
 ['North Indian', ' Chinese', ' Continental'],
 ['North Indian', ' Chinese'],
 ['North Indian'],
 ['Fast Food'],
 ['Cafe', ' Fast Food'],
 ['Fast Food', ' Rolls'],
 ['North Indian'],
 ['Continental', ' Italian', ' Chinese', ' North Indian'],
 ['North Indian', ' Biryani', ' Rolls'],
 ['Fast Food'],
 ['Continental', ' North Indian', ' Chinese', ' Finger Food'],
 ['Biryani', ' North Indian'],
 ['Bakery'],
 ['South Indian', ' Kerala', ' Chettinad'],
 ['South Indian'],
 ['North Indian', ' Chinese'],
 ['Fast Food', ' Sandwich'],
 ['Chinese'],
 ['Fast Food', ' Arabian'],
 ['South Indian'],
 ['Chinese',
  ' Biryani',
  ' Kebab',
  ' Seafood',
  ' South Indian',
  ' North Indian'],
 ['North Indian', ' Chinese'],
 ['Biryani', ' Chinese', ' Hyderabadi', ' Mughlai', ' Seafood'],
 ['North Indian', ' Beverages', ' Chinese'],
 ['Bakery'],
 ['South Indian',
  ' North Indian',
  ' Mughlai',
  ' Chinese',
  ' Fast Food',
  ' Beverages'],
 ['Finger Food', ' Continental', ' North Eastern'],
 ['Bakery'],
 ['American', ' Fast Food'],
 ['Chinese', ' North Indian'],
 ['American', ' Italian', ' Lebanese'],
 ['Chinese', ' North Indian', ' Rolls'],
 ['Chinese', ' North Indian', ' South Indian', ' Coffee and Tea', ' Grill'],
 ['Continental', ' Desserts', ' Italian', ' North Indian', ' BBQ', ' Asian'],
 ['Pizza', ' Continental'],
 ['Chinese'],
 ['Sandwich', ' Fast Food', ' Beverages'],
 ['North Indian'],
 ['Chinese'],
 ['Juices'],
 ['South Indian'],
 ['Indian', ' Chinese'],
 ['Bakery', ' Beverages'],
 ['Bakery'],
 ['North Indian', ' Mughlai'],
 ['Coffee', ' Chinese', ' Cafe'],
 ['South Indian', ' North Indian', ' Chinese', ' Street Food'],
 ['North Indian', ' Street Food'],
 ['South Indian'],
 ['North Indian', ' Continental', ' Italian'],
 ['Continental', ' South Indian', ' North Indian', ' Chinese'],
 ['Desserts', ' Ice Cream'],
 ['South Indian'],
 ['North Indian', ' Chinese'],
 ['North Indian', ' South Indian', ' Chinese'],
 ['Desserts'],
 ['Cafe', ' Beverages'],
 ['North Indian', ' Chinese', ' Biryani'],
 ['North Indian', ' Chinese', ' Continental', ' Italian'],
 ['Continental',
  ' American',
  ' Asian',
  ' North Indian',
  ' Chinese',
  ' Pizza',
  ' Biryani',
  ''],
 ['Chinese', ' North Indian', ' South Indian', ' Fast Food'],
 ['Continental'],
 ['North Indian', ' Street Food'],
 ['Bakery', ' Desserts'],
 ['Juices'],
 ['Indonesian', ' Thai', ' Chinese', ' Japanese', ' Malaysian', ' Momos'],
 ['Bakery'],
 ['Bakery'],
 ['Beverages'],
 ['Gujarati'],
 ['Fast Food', ' Burger', ' Sandwich'],
 ['North Indian', ' Continental', ' Italian', ' Salad'],
 ['North Indian', ' Chinese', ' Mughlai'],
 ['Fast Food', ' Burger'],
 ['South Indian', ' Continental', ' Chinese', ' North Indian'],
 ['South Indian'],
 ['European', ' Burger', ' Salad', ' Healthy Food', ' Continental'],
 ['BBQ'],
 ['Fast Food'],
 ['Healthy Food', ' Sandwich', ' Salad'],
 ['Bakery', ' Desserts', ' Fast Food'],
 ['Chinese', ' Chettinad', ' North Indian'],
 ['Pizza'],
 ['Pizza'],
 ['North Indian'],
 ['Hyderabadi', ' Biryani'],
 ['Mithai', ' Street Food', ' Desserts'],
 ['Healthy Food', ' Sandwich', ' Salad'],
 ['Chinese', ' North Indian', ' South Indian'],
 ['South Indian', ' Biryani', ' North Indian'],
 ['Bihari', ' Beverages', ' Mithai'],
 ['Fast Food', ' Desserts'],
 ['Rolls', ' Fast Food', ' North Indian'],
 ['Cafe', ' Italian', ' Continental'],
 ['Beverages', ' Desserts'],
 ['Lebanese', ' Arabian'],
 ['South Indian', ' Lebanese'],
 ['Andhra', ' South Indian', ' North Indian', ' Biryani'],
 ['Kerala'],
 ['Bengali', ' North Indian'],
 ['Chinese', ' Seafood'],
 ['Maharashtrian'],
 ['Bakery', ' Desserts'],
 ['North Indian', ' Mughlai', ' Chinese'],
 ['Fast Food', ' Chinese', ' Momos'],
 ['Biryani', ' Mughlai'],
 ['Italian', ' North Indian'],
 ['Continental', ' Beverages'],
 ['Continental', ' Chinese', ' Italian', ' Momos'],
 ['Biryani'],
 ['Bakery', ' Fast Food'],
 ['North Indian', ' Chinese', ' Biryani'],
 ['Chinese', ' Italian'],
 ['South Indian', ' North Indian', ' Chinese'],
 ['Chettinad', ' Chinese', ' BBQ', ' North Indian'],
 ['Continental', ' Chinese', ' North Indian'],
 ['Juices'],
 ['Fast Food', ' Chinese', ' North Indian'],
 ['Cafe', ' Chinese', ' Seafood'],
 ['North Indian', ' Chinese'],
 ['Continental', ' North Indian', ' Chinese', ' Thai'],
 ['Fast Food', ' North Indian'],
 ['Fast Food'],
 ['South Indian', ' Chinese', ' Street Food', ' Beverages'],
 ['Continental', ' Asian', ' Pizza', ' Salad'],
 ['Biryani', ' South Indian', ' Chinese', ' Mughlai'],
 ['North Indian'],
 ['North Indian'],
 ['South Indian'],
 ['Juices', ' Beverages'],
 ['Chinese', ' Momos'],
 ['Ice Cream', ' Desserts'],
 ['North Indian', ' Chinese'],
 ['Beverages', ' Desserts', ' Fast Food'],
 ['Cafe',
  ' Beverages',
  ' Fast Food',
  ' Sandwich',
  ' Salad',
  ' Coffee',
  ' Tea'],
 ['South Indian', ' North Indian', ' Chinese'],
 ['Biryani', ' North Indian', ' Kebab'],
 ['Continental', ' Italian', ' Seafood', ' North Indian', ' Cafe'],
 ['Fast Food'],
 ['North Indian', ' Chinese', ' Mughlai', ' Continental'],
 ['North Indian', ' Chinese', ' Seafood', ' Biryani'],
 ['North Indian', ' Mughlai', ' Chinese'],
 ['North Indian', ' Chinese', ' Continental'],
 ['North Indian', ' Chinese', ' Andhra'],
 ['Continental', ' Mediterranean', ' American', ' Italian', ' Goan', ' Momos'],
 ['South Indian', ' Chinese'],
 ['Kerala'],
 ['Fast Food'],
 ['American', ' Italian', ' Chinese'],
 ['Rolls', ' Lebanese'],
 ['Kerala', ' North Indian', ' Chinese'],
 ['Chinese'],
 ['South Indian', ' North Indian', ' Mithai'],
 ['Italian', ' Mexican', ' Continental', ' Asian', ' Japanese'],
 ['North Indian', ' Chinese', ' Continental'],
 ['North Indian', ' Chinese'],
 ['Bakery', ' Fast Food', ' Desserts'],
 ['Mughlai'],
 ['Continental',
  ' South Indian',
  ' Italian',
  ' North Indian',
  ' Asian',
  ' Kebab'],
 ['South Indian', ' Biryani'],
 ['Beverages', ' Sandwich', ' Fast Food'],
 ['Andhra', ' Chinese'],
 ['Bakery', ' Desserts'],
 ['Chinese', ' Thai'],
 ['Bengali', ' North Indian'],
 ['Continental', ' Kebab', ' North Indian'],
 ['North Indian', ' Continental', ' Chinese', ' Seafood'],
 ['Bar Food', ' Modern Indian'],
 ['Fast Food', ' Rolls'],
 ['North Indian', ' Mughlai', ' Lucknowi', ' Awadhi', ' Kebab'],
 ['Continental', ' Seafood', ' Bengali', ' Fast Food'],
 ['American', ' Mediterranean', ' Italian', ' European'],
 ['Pizza'],
 ['Bakery', ' North Indian', ' Chinese'],
 ['Pizza', ' Fast Food'],
 ['Street Food', ' South Indian'],
 ['Continental', ' North Indian', ' Italian', ' Asian'],
 ['North Indian', ' Chinese'],
 ['North Indian', ' Chinese'],
 ['Mughlai', ' North Indian', ' Continental', ' Chinese'],
 ['Ice Cream', ' Desserts'],
 ['South Indian', ' Andhra', ' Biryani'],
 ['Maharashtrian'],
 ['Arabian', ' Juices'],
 ['Finger Food', ' North Indian'],
 ['Chinese', ' Thai', ' Momos'],
 ['Continental', ' Chinese', ' Steak'],
 ['North Indian', ' Chinese'],
 ['South Indian'],
 ['Bakery', ' Desserts', ' Fast Food', ' North Indian'],
 ['Kerala', ' South Indian'],
 ['Bakery', ' Desserts'],
 ['North Indian', ' South Indian'],
 ['Continental', ' Finger Food'],
 ['Mediterranean',
  ' Asian',
  ' American',
  ' Italian',
  ' South Indian',
  ' North Indian'],
 ['South Indian', ' North Indian', ' Chinese', ' Biryani'],
 ['Bakery', ' French', ' Desserts'],
 ['Cafe', ' Italian', ' North Indian'],
 ['South Indian', ' Biryani'],
 ['Rajasthani', ' Gujarati', ' North Indian'],
 ['Finger Food', ' Italian'],
 ['North Indian', ' Mughlai', ' Biryani', ' Kebab'],
 ['Pizza', ' Chinese', ' North Indian', ' Beverages'],
 ['North Indian', ' Mughlai', ' Chinese'],
 ['Arabian'],
 ['South Indian', ' North Indian', ' Chinese'],
 ['Cafe', ' Bakery', ' Beverages', ' Fast Food', ' Continental', ' Desserts'],
 ['Seafood', ' Goan', ' North Indian', ' Continental', ' Asian'],
 ['Maharashtrian'],
 ['South Indian', ' North Indian'],
 ['Bengali', ' North Indian'],
 ['Desserts', ' Beverages'],
 ['North Indian', ' South Indian', ' Continental'],
 ['Desserts', ' South Indian', ' Beverages'],
 ['North Indian', ' Chinese'],
 ['Biryani', ' North Indian', ' Chinese'],
 ['Kerala', ' South Indian', ' Chinese'],
 ['Portuguese', ' Wraps', ' Burger', ' Salad'],
 ['European', ' Italian', ' Seafood', ' Continental'],
 ['Cafe', ' Healthy Food', ' Beverages', ' Salad'],
 ['Cafe', ' Italian', ' Mexican'],
 ['Mughlai', ' Chinese', ' Fast Food'],
 ['South Indian'],
 ['Beverages'],
 ['Bakery', ' Desserts', ' Fast Food', ' Juices'],
 ['Asian', ' Continental', ' Italian'],
 ['Cafe', ' Desserts'],
 ['Continental', ' Asian', ' Beverages', ' American'],
 ['Chinese', ' Seafood'],
 ['South Indian', ' Chinese', ' Chettinad'],
 ['South Indian'],
 ['South Indian'],
 ['North Indian', ' South Indian'],
 ['North Indian', ' Mughlai'],
 ['Chinese', ' South Indian', ' Sri Lankan'],
 ['Fast Food', ' Beverages'],
 ['North Indian', ' Chinese'],
 ['Arabian', ' Kerala'],
 ['North Indian', ' Biryani'],
 ['Continental', ' Chinese', ' Asian', ' Italian', ' Pizza'],
 ['Oriya', ' North Indian', ' Chinese'],
 ['Chinese', ' North Indian', ' Italian', ' Seafood'],
 ['Continental', ' Italian', ' Pizza', ' Seafood'],
 ['Cafe', ' Continental'],
 ['North Indian'],
 ['Biryani', ' North Indian', ' South Indian'],
 ['Italian', ' American', ' Continental', ' Mexican'],
 ['North Indian', ' South Indian', ' Chinese'],
 ['Fast Food', ' Desserts', ' Beverages', ' American'],
 ['North Indian', ' South Indian', ' Chinese'],
 ['Japanese'],
 ['North Indian', ' Fast Food'],
 ['Arabian', ' Continental'],
 ['Pizza', ' Italian', ' Beverages'],
 ['Andhra', ' South Indian', ' Seafood', ' Biryani', ' Chettinad'],
 ['Fast Food', ' Beverages', ' Rolls'],
 ['Cafe', ' Biryani', ' Fast Food'],
 ['Bengali', ' North Indian'],
 ['North Indian', ' Street Food'],
 ['Kerala', ' South Indian'],
 ['Desserts', ' Fast Food'],
 ['Healthy Food', ' Juices', ' Sandwich', ' Salad', ' Wraps', ' Rolls'],
 ['South Indian'],
 ['Cafe', ' North Indian', ' Italian', ' Chinese'],
 ['Continental', ' Chinese', ' North Indian'],
 ['Italian', ' North Indian', ' Chinese'],
 ['Chinese', ' North Indian', ' South Indian'],
 ['Biryani'],
 ['North Indian', ' South Indian', ' Chettinad'],
 ['Cafe'],
 ['Fast Food'],
 ['Kerala'],
 ['South Indian', ' Andhra'],
 ['Continental', ' North Indian', ' Asian'],
 ['North Indian', ' Chinese', ' Pizza', ' Burger', ' Fast Food'],
 ['Chinese', ' Thai'],
 ['Biryani', ' Mughlai'],
 ['South Indian', ' Biryani', ' Chinese', ' Seafood', ' BBQ'],
 ['Fast Food'],
 ['South Indian', ' Chinese', ' Arabian', ' Biryani'],
 ['Cafe', ' Italian', ' Continental'],
 ['Desserts', ' Beverages'],
 ['North Indian', ' Mughlai', ' Chinese'],
 ['Fast Food'],
 ['Cafe', ' Fast Food'],
 ['North Indian', ' Lucknowi'],
 ['North Indian', ' Chinese'],
 ['Fast Food', ' Rolls', ' Juices'],
 ['Andhra'],
 ['Ethiopian', ' Continental'],
 ['North Indian', ' Street Food', ' Chinese', ' Continental'],
 ['South Indian'],
 ['South Indian'],
 ['Bakery', ' Desserts'],
 ['European',
  ' Italian',
  ' American',
  ' Salad',
  ' Juices',
  ' Cafe',
  ' Burger',
  ' Healthy Food'],
 ['North Indian', ' Chinese'],
 ['Seafood', ' Chinese', ' South Indian', ' North Indian'],
 ['Mexican', ' Lebanese', ' North Indian', ' South Indian'],
 ['North Indian', ' Chinese', ' Biryani'],
 ['North Indian', ' South Indian', ' Chinese'],
 ['South Indian', ' Arabian'],
 ['Beverages'],
 ['Kerala', ' Konkan'],
 ['North Indian', ' Cafe', ' Fast Food', ' Beverages'],
 ['Kerala'],
 ['Italian', ' Pizza', ' Continental'],
 ['Finger Food', ' American', ' Asian', ' Italian'],
 ['South Indian'],
 ['Continental', ' Fast Food', ' North Indian', ' Desserts', ' Beverages'],
 ['South Indian', ' Street Food'],
 ['North Indian', ' Continental', ' European', ' American'],
 ['North Indian', ' Chinese'],
 ['North Indian', ' Chinese', ' South Indian'],
 ['North Indian', ' Chinese'],
 ['Chinese', ' South Indian', ' North Indian'],
 ['North Indian', ' Fast Food', ' Chinese'],
 ['Kerala', ' South Indian', ' Fast Food'],
 ['Bakery'],
 ['South Indian'],
 ['Chinese', ' Thai'],
 ['Pizza', ' Fast Food'],
 ['Finger Food'],
 ['Finger Food'],
 ['Street Food', ' North Indian'],
 ['Cafe', ' Arabian', ' Continental', ' Momos'],
 ['South Indian', ' Chinese', ' Arabian', ' Kerala'],
 ['Fast Food', ' Sandwich', ' Beverages'],
 ['Cafe', ' Tea', ' Coffee'],
 ['North Indian', ' South Indian', ' Biryani', ' Chinese'],
 ['North Indian'],
 ['Modern Indian', ' Continental', ' Italian'],
 ['North Indian', ' Chinese'],
 ['Modern Indian'],
 ['Tibetan', ' Momos'],
 ['Bakery', ' Desserts'],
 ['Continental', ' North Indian', ' Chinese', ' Finger Food', ' Beverages'],
 ['Desserts'],
 ['Chinese', ' North Indian', ' South Indian'],
 ['Street Food', ' Chinese', ' North Indian'],
 ['Continental', ' Pizza', ' North Indian', ' Goan', ' Cafe'],
 ['North Indian', ' Chinese'],
 ['Asian', ' Sushi'],
 ['Cafe', ' Italian', ' Beverages', ' Burger'],
 ['Beverages'],
 ['Street Food'],
 ['Maharashtrian'],
 ['North Indian', ' Chinese'],
 ['North Indian', ' Chinese', ' South Indian', ' Fast Food'],
 ['Cafe', ' Fast Food'],
 ['Street Food'],
 ['North Indian', ' Street Food', ' Chinese', ' Fast Food'],
 ['Chinese', ' Fast Food', ' Lebanese'],
 ['South Indian'],
 ['Biryani'],
 ['North Indian', ' Continental', ' Chinese'],
 ['European'],
 ['Continental', ' North Indian', ' Chinese'],
 ['Chinese', ' North Indian'],
 ['Japanese', ' Asian'],
 ['North Indian', ' South Indian', ' Chinese', ' Thai', ' BBQ'],
 ['Cafe',
  ' American',
  ' Salad',
  ' Burger',
  ' Continental',
  ' Desserts',
  ' Sandwich'],
 ['North Indian', ' South Indian', ' Chinese'],
 ['Beverages', ' Desserts', ' Fast Food'],
 ['Italian'],
 ['Fast Food', ' Desserts', ' Ice Cream'],
 ['European', ' Continental', ' Italian'],
 ['Chinese', ' Fast Food', ' North Indian', ' South Indian', ' Street Food'],
 ['Bakery', ' Desserts'],
 ['Desserts', ' Ice Cream'],
 ['Spanish', ' Italian', ' Mediterranean', ' European', ' Salad'],
 ['Pizza', ' Fast Food'],
 ['Cafe', ' South Indian', ' North Indian'],
 ['Continental', ' South Indian', ' North Indian', ' Asian'],
 ['Russian', ' Continental', ' North Indian'],
 ['Finger Food'],
 ['North Indian', ' Chinese'],
 ['North Indian', ' Chinese', ' Arabian'],
 ['South Indian'],
 ['North Indian'],
 ['North Indian', ' Continental', ' Chinese'],
 ['Biryani', ' Kerala', ' Seafood', ' South Indian'],
 ['North Indian', ' Continental', ' Italian'],
 ['North Indian', ' South Indian', ' Chinese', ' Beverages'],
 ['Fast Food'],
 ['Cafe', ' Desserts', ' American'],
 ['Cafe', ' Italian', ' Burger'],
 ['North Indian', ' Chinese'],
 ['Chinese', ' Street Food'],
 ['Street Food', ' Fast Food'],
 ['Andhra', ' Biryani', ' North Indian', ' Chinese'],
 ['Juices', ' South Indian', ' Chinese', ' Fast Food'],
 ['North Indian', ' Mughlai', ' Chinese'],

In [127]:
df.head()

,CITY,COST,CUISINES,LOCALITY,RATING,RESTAURANT_ID,Source,TIME,TITLE,VOTES,Location
0,Thane,1200.0,"[Malwani, Goan, North Indian]",Dombivali East,3.6,9438,Train,"11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",CASUAL DINING,49 votes,Thane
1,Chennai,1500.0,"[Asian, Modern Indian, Japanese]",Ramapuram,4.2,13198,Train,6pm – 11pm (Mon-Sun),"CASUAL DINING,BAR",30 votes,Chennai
2,Chennai,800.0,"[North Indian, Chinese, Biryani, Hyderabadi]",Saligramam,3.8,10915,Train,"11am – 3:30pm, 7pm – 11pm (Mon-Sun)",CASUAL DINING,221 votes,Chennai
3,Mumbai,800.0,"[Tibetan, Chinese]",Bandra West,4.1,6346,Train,11:30am – 1am (Mon-Sun),QUICK BITES,24 votes,Mumbai
4,Mumbai,300.0,[Desserts],Lower Parel,3.8,15387,Train,11am – 1am (Mon-Sun),DESSERT PARLOR,165 votes,Mumbai

In [128]:
df_cuisines=df['CUISINES'].apply(lambda x: pd.Series(1,x))

In [129]:
df_cuisines

,Malwani,Goan,North Indian,Asian,Modern Indian,Japanese,North Indian,Chinese,Biryani,Hyderabadi,...,Egyptian,African,Egyptian,Fish and Chips,Brazilian,South American,Mishti,Falafel,Cantonese,Hawaiian
0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,1.0,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4201,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4202,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4203,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4204,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4205,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4206,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4207,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4208,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4209,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4210,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4211,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4212,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4213,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4214,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4215,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4216,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4217,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4218,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4219,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4220,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4221,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4222,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4225,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4226,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4227,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4228,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4229,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4230,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
title_list = []
for i in df.TITLE:
    title_list.append(list(i.split(",")))

In [131]:
df['TITLE'] = title_list

In [132]:
df.head()

,CITY,COST,CUISINES,LOCALITY,RATING,RESTAURANT_ID,Source,TIME,TITLE,VOTES,Location
0,Thane,1200.0,"[Malwani, Goan, North Indian]",Dombivali East,3.6,9438,Train,"11am – 4pm, 7:30pm – 11:30pm (Mon-Sun)",[CASUAL DINING],49 votes,Thane
1,Chennai,1500.0,"[Asian, Modern Indian, Japanese]",Ramapuram,4.2,13198,Train,6pm – 11pm (Mon-Sun),"[CASUAL DINING, BAR]",30 votes,Chennai
2,Chennai,800.0,"[North Indian, Chinese, Biryani, Hyderabadi]",Saligramam,3.8,10915,Train,"11am – 3:30pm, 7pm – 11pm (Mon-Sun)",[CASUAL DINING],221 votes,Chennai
3,Mumbai,800.0,"[Tibetan, Chinese]",Bandra West,4.1,6346,Train,11:30am – 1am (Mon-Sun),[QUICK BITES],24 votes,Mumbai
4,Mumbai,300.0,[Desserts],Lower Parel,3.8,15387,Train,11am – 1am (Mon-Sun),[DESSERT PARLOR],165 votes,Mumbai

In [133]:
df_title = df['TITLE'].apply(lambda x: pd.Series(1,x))

In [134]:
#now  we have df_cuisines and df_title

In [135]:
df["RATING"].isnull().sum()

4

In [136]:
df['RATING'].fillna("0",inplace=True)

In [137]:
df['VOTES'].isnull().sum()

1606

In [138]:
df['VOTES'].fillna("0",inplace=True)

In [139]:
df.isnull().sum()

CITY              147
COST             4231
CUISINES            0
LOCALITY          128
RATING              0
RESTAURANT_ID       0
Source              0
TIME                0
TITLE               0
VOTES               0
Location            0
dtype: int64

In [140]:
df.drop(['LOCALITY', 'CUISINES', 'CITY', 'TIME','RESTAURANT_ID'], inplace=True, axis=1)

In [141]:
df.head()

     COST RATING Source                 TITLE      VOTES Location
0  1200.0    3.6  Train       [CASUAL DINING]   49 votes    Thane
1  1500.0    4.2  Train  [CASUAL DINING, BAR]   30 votes  Chennai
2   800.0    3.8  Train       [CASUAL DINING]  221 votes  Chennai
3   800.0    4.1  Train         [QUICK BITES]   24 votes   Mumbai
4   300.0    3.8  Train      [DESSERT PARLOR]  165 votes   Mumbai

In [142]:
df['VOTES'] = df['VOTES'].str.strip(" ").str[0]

In [154]:
df.head()

     COST RATING Source  VOTES Location
0  1200.0    3.6  Train      4    Thane
1  1500.0    4.2  Train      3  Chennai
2   800.0    3.8  Train      2  Chennai
3   800.0    4.1  Train      2   Mumbai
4   300.0    3.8  Train      1   Mumbai

In [152]:
df.dtypes

COST        float64
RATING       object
Source       object
VOTES         int32
Location     object
dtype: object

In [151]:
df['VOTES'] = df['VOTES'].astype(int)

In [147]:
df.drop('TITLE',inplace=True,axis=1)

In [156]:
df['RATING'] = df['RATING'].replace("NEW","0")

In [160]:
df['RATING'] = df['RATING'].replace("-","0")

In [161]:
df['RATING'].value_counts

<bound method IndexOpsMixin.value_counts of 0       3.6
1       4.2
2       3.8
3       4.1
4       3.8
5       4.0
6       4.1
7       4.3
8       3.9
9       3.3
10      4.1
11      4.0
12      3.4
13        0
14      4.0
15      4.5
16      3.6
17      3.5
18      3.6
19      4.1
20      4.2
21      4.0
22      4.0
23      3.9
24      4.2
25      3.8
26      3.4
27      4.1
28      4.3
29      4.2
       ...
4201    3.5
4202    4.2
4203    4.1
4204    3.2
4205    3.8
4206    4.2
4207    3.4
4208    3.6
4209    4.0
4210    3.3
4211    3.2
4212    4.0
4213    2.6
4214    3.7
4215    4.3
4216    3.6
4217    4.1
4218    3.3
4219    4.1
4220    3.9
4221    3.6
4222    3.8
4223      0
4224    3.8
4225    4.0
4226    3.9
4227    4.3
4228    3.7
4229      0
4230    3.7
Name: RATING, Length: 16921, dtype: object>

In [162]:
df['RATING'] = df['RATING'].astype(float)

In [163]:
df.dtypes

COST        float64
RATING      float64
Source       object
VOTES         int32
Location     object
dtype: object

In [164]:
df.head()

     COST  RATING Source  VOTES Location
0  1200.0     3.6  Train      4    Thane
1  1500.0     4.2  Train      3  Chennai
2   800.0     3.8  Train      2  Chennai
3   800.0     4.1  Train      2   Mumbai
4   300.0     3.8  Train      1   Mumbai

In [165]:
#now we will add df_cuisines and df_title

In [166]:
df = pd.concat([df,df_cuisines,df_title], axis =1 )

In [167]:
df.head()

,COST,RATING,Source,VOTES,Location,Malwani,Goan,North Indian,Asian,Modern Indian,...,FOOD TRUCK,MESS,KIOSK,CLUB,CONFECTIONERY,DHABA,MEAT SHOP,COCKTAIL BAR,PAAN SHOP,BHOJANALYA
0,1200.0,3.6,Train,4,Thane,1.0,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1500.0,4.2,Train,3,Chennai,NaN,NaN,NaN,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,800.0,3.8,Train,2,Chennai,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,800.0,4.1,Train,2,Mumbai,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,300.0,3.8,Train,1,Mumbai,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [168]:
df.dtypes

COST               float64
RATING             float64
Source              object
VOTES                int32
Location            object
Malwani            float64
 Goan              float64
 North Indian      float64
Asian              float64
 Modern Indian     float64
 Japanese          float64
North Indian       float64
 Chinese           float64
 Biryani           float64
 Hyderabadi        float64
Tibetan            float64
Desserts           float64
 Seafood           float64
Cafe               float64
 Pizza             float64
 Burger            float64
Bar Food           float64
South Indian       float64
 Fast Food         float64
Fast Food          float64
 Beverages         float64
Arabian            float64
 Mughlai           float64
Maharashtrian      float64
Parsi              float64
                    ...
 South American    float64
 Mishti            float64
 Falafel           float64
Cantonese          float64
 Hawaiian          float64
CASUAL DINING      float64
BAR                float64
QUICK BITES        float64
DESSERT PARLOR     float64
CAFÉ               float64
MICROBREWERY       float64
BEVERAGE SHOP      float64
IRANI CAFE         float64
BAKERY             float64
None               float64
PUB                float64
FINE DINING        float64
SWEET SHOP         float64
LOUNGE             float64
FOOD COURT         float64
FOOD TRUCK         float64
MESS               float64
KIOSK              float64
CLUB               float64
CONFECTIONERY      float64
DHABA              float64
MEAT SHOP          float64
COCKTAIL BAR       float64
PAAN SHOP          float64
BHOJANALYA         float64
Length: 259, dtype: object

In [203]:
df = df1.copy()
df.isnull().sum()

COST                4231
RATING                 0
Source                 0
VOTES                  0
Location               0
Malwani            16891
 Goan              16892
 North Indian      13960
Asian              16730
 Modern Indian     16880
 Japanese          16798
North Indian       12660
 Chinese           12387
 Biryani           15935
 Hyderabadi        16797
Tibetan            16888
Desserts           16482
 Seafood           16314
Cafe               15954
 Pizza             16490
 Burger            16547
Bar Food           16901
South Indian       15284
 Fast Food         15063
Fast Food          15913
 Beverages         15916
Arabian            16652
 Mughlai           16068
Maharashtrian      16879
Parsi              16908
                   ...
 South American    16918
 Mishti            16920
 Falafel           16920
Cantonese          16920
 Hawaiian          16920
CASUAL DINING      11056
BAR                16021
QUICK BITES        10777
DESSERT PARLOR     16126
CAFÉ               15781
MICROBREWERY       16823
BEVERAGE SHOP      16590
IRANI CAFE         16916
BAKERY             16214
None               15634
PUB                16732
FINE DINING        16453
SWEET SHOP         16703
LOUNGE             16658
FOOD COURT         16777
FOOD TRUCK         16882
MESS               16853
KIOSK              16841
CLUB               16882
CONFECTIONERY      16915
DHABA              16860
MEAT SHOP          16917
COCKTAIL BAR       16914
PAAN SHOP          16915
BHOJANALYA         16920
Length: 259, dtype: int64

In [204]:
df.fillna(0,inplace=True)

In [205]:
df.isnull().sum()

COST               0
RATING             0
Source             0
VOTES              0
Location           0
Malwani            0
 Goan              0
 North Indian      0
Asian              0
 Modern Indian     0
 Japanese          0
North Indian       0
 Chinese           0
 Biryani           0
 Hyderabadi        0
Tibetan            0
Desserts           0
 Seafood           0
Cafe               0
 Pizza             0
 Burger            0
Bar Food           0
South Indian       0
 Fast Food         0
Fast Food          0
 Beverages         0
Arabian            0
 Mughlai           0
Maharashtrian      0
Parsi              0
                  ..
 South American    0
 Mishti            0
 Falafel           0
Cantonese          0
 Hawaiian          0
CASUAL DINING      0
BAR                0
QUICK BITES        0
DESSERT PARLOR     0
CAFÉ               0
MICROBREWERY       0
BEVERAGE SHOP      0
IRANI CAFE         0
BAKERY             0
None               0
PUB                0
FINE DINING        0
SWEET SHOP         0
LOUNGE             0
FOOD COURT         0
FOOD TRUCK         0
MESS               0
KIOSK              0
CLUB               0
CONFECTIONERY      0
DHABA              0
MEAT SHOP          0
COCKTAIL BAR       0
PAAN SHOP          0
BHOJANALYA         0
Length: 259, dtype: int64

In [206]:
df.dtypes

COST               float64
RATING             float64
Source              object
VOTES                int32
Location            object
Malwani            float64
 Goan              float64
 North Indian      float64
Asian              float64
 Modern Indian     float64
 Japanese          float64
North Indian       float64
 Chinese           float64
 Biryani           float64
 Hyderabadi        float64
Tibetan            float64
Desserts           float64
 Seafood           float64
Cafe               float64
 Pizza             float64
 Burger            float64
Bar Food           float64
South Indian       float64
 Fast Food         float64
Fast Food          float64
 Beverages         float64
Arabian            float64
 Mughlai           float64
Maharashtrian      float64
Parsi              float64
                    ...
 South American    float64
 Mishti            float64
 Falafel           float64
Cantonese          float64
 Hawaiian          float64
CASUAL DINING      float64
BAR                float64
QUICK BITES        float64
DESSERT PARLOR     float64
CAFÉ               float64
MICROBREWERY       float64
BEVERAGE SHOP      float64
IRANI CAFE         float64
BAKERY             float64
None               float64
PUB                float64
FINE DINING        float64
SWEET SHOP         float64
LOUNGE             float64
FOOD COURT         float64
FOOD TRUCK         float64
MESS               float64
KIOSK              float64
CLUB               float64
CONFECTIONERY      float64
DHABA              float64
MEAT SHOP          float64
COCKTAIL BAR       float64
PAAN SHOP          float64
BHOJANALYA         float64
Length: 259, dtype: object

In [207]:
df.head()

,COST,RATING,Source,VOTES,Location,Malwani,Goan,North Indian,Asian,Modern Indian,...,FOOD TRUCK,MESS,KIOSK,CLUB,CONFECTIONERY,DHABA,MEAT SHOP,COCKTAIL BAR,PAAN SHOP,BHOJANALYA
0,1200.0,3.6,Train,4,Thane,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1500.0,4.2,Train,3,Chennai,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,800.0,3.8,Train,2,Chennai,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,800.0,4.1,Train,2,Mumbai,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,300.0,3.8,Train,1,Mumbai,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [208]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [209]:
df['Location'] = le.fit_transform(df['Location'])

In [211]:
df.head(3)

,COST,RATING,Source,VOTES,Location,Malwani,Goan,North Indian,Asian,Modern Indian,...,FOOD TRUCK,MESS,KIOSK,CLUB,CONFECTIONERY,DHABA,MEAT SHOP,COCKTAIL BAR,PAAN SHOP,BHOJANALYA
0,1200.0,3.6,Train,4,13,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1500.0,4.2,Train,3,3,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,800.0,3.8,Train,2,3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [212]:
train_final = df[df.Source == 'Train']
test_final = df[df.Source == 'Test']

In [213]:
train_final.head()

,COST,RATING,Source,VOTES,Location,Malwani,Goan,North Indian,Asian,Modern Indian,...,FOOD TRUCK,MESS,KIOSK,CLUB,CONFECTIONERY,DHABA,MEAT SHOP,COCKTAIL BAR,PAAN SHOP,BHOJANALYA
0,1200.0,3.6,Train,4,13,1.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1500.0,4.2,Train,3,3,0.0,0.0,0.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,800.0,3.8,Train,2,3,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,800.0,4.1,Train,2,9,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,300.0,3.8,Train,1,9,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [214]:
test_final.head()

,COST,RATING,Source,VOTES,Location,Malwani,Goan,North Indian,Asian,Modern Indian,...,FOOD TRUCK,MESS,KIOSK,CLUB,CONFECTIONERY,DHABA,MEAT SHOP,COCKTAIL BAR,PAAN SHOP,BHOJANALYA
0,0.0,4.3,Test,5,11,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,4.2,Test,6,9,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,3.8,Test,3,9,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,3.8,Test,1,4,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,3.6,Test,2,8,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [215]:
test_final.drop("COST",inplace=True,axis=1)

In [216]:
test_final.drop('Source',inplace=True,axis=1)

In [217]:
train_final.drop('Source',inplace=True,axis=1)

In [218]:
train_final.head()

,COST,RATING,VOTES,Location,Malwani,Goan,North Indian,Asian,Modern Indian,Japanese,...,FOOD TRUCK,MESS,KIOSK,CLUB,CONFECTIONERY,DHABA,MEAT SHOP,COCKTAIL BAR,PAAN SHOP,BHOJANALYA
0,1200.0,3.6,4,13,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1500.0,4.2,3,3,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,800.0,3.8,2,3,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,800.0,4.1,2,9,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,300.0,3.8,1,9,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [219]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_val_score
from sklearn.metrics import r2_score,mean_squared_error
#from sklearn.metrics

In [222]:
lr = LinearRegression()
x_train = train_final.drop(columns = 'COST')
y_train = train_final.COST
x_test = test_final

In [223]:
cvs = cross_val_score(lr,x_train,y_train,cv=10,scoring='neg_mean_squared_error')

In [225]:
cvs.mean()

-1.2656639434986986e+24

In [234]:
cvs1 = cross_val_score(lr,x_train,y_train,cv=10)

In [239]:
lr.fit(x_train,y_train)
lr.score(x_train,y_train)

0.7123799017668686

In [242]:
testpred = lr.predict(x_test)
trainpred = lr.predict(x_train)

In [247]:
RMSE = np.sqrt(mean_squared_error(y_train,trainpred))

In [248]:
RMSE

336.2501566501095

In [249]:
test_final['Predicted Cost'] = testpred

In [250]:
test_final.head()

,RATING,VOTES,Location,Malwani,Goan,North Indian,Asian,Modern Indian,Japanese,North Indian,...,MESS,KIOSK,CLUB,CONFECTIONERY,DHABA,MEAT SHOP,COCKTAIL BAR,PAAN SHOP,BHOJANALYA,Predicted Cost
0,4.3,5,11,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,914.359375
1,4.2,6,9,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,322.109375
2,3.8,3,9,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,777.734375
3,3.8,1,4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,333.585938
4,3.6,2,8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,247.187500

In [251]:
r2_score(y_train,trainpred)

0.7123799017668686